numpy==1.23.5
h5py==3.12.1
hpack==4.0.0
kafe2==2.9.0
keras==2.15.0
keras-tuner==1.4.7
pandas==1.5.3
parse==1.6.5
pyarrow==17.0.0
tensorflow==2.15.1
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-model-optimization==0.8.0
tensorflow-probability==0.23.0
QKeras==0.9.0
tf_keras==2.15.1
seaborn==0.13.2
matplotlib==3.9.2
